* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Creepster", cursive;
  font-style: normal;
  font-size: 1.75em;
  line-height: 1em;
  background-color: #fc7a1c;
  background-image: url("../img/bg.png");
  background-size: 800px;
  background-repeat: repeat;
  color: #440282;
}

.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

.container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(255, 102, 0, 0.3) 0%,
    rgba(249, 165, 109, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  background: #e6f6dc;
  font-size: 1em;
}

.word-in-progress {
  letter-spacing: 0.25em;
  color: #440282;
  font-size: 5vw;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid #5FA621;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #5FA621;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: #fff;
  background: #5FA621;
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: white;
}



/* animated background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #71d51a, #5fa621);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* @media only screen and (max-width: 768px) {
  .word-in-progress {
   font-size: 5vw;
}
} */